{% extends 'base.html'%}

{% block content%}

<h2>Here you can write a query to be implemented in the database ( use vet_schema.table):</h2>

<div class="container-fluid py-5">
    <h3 class="display-5 fw-bold">Schema</h3>
    <img src="static/schema.png" class="img-fluid mx-auto">
  </div>

<br/>
<form method="POST">

    {{form.hidden_tag()}}

    {{form.query_by_user.label(class="form-label")}}
    {{form.query_by_user(class="form-control")}}
    <br/>
    {{form.submit(class="btn btn-secondary")}}

</form>

<h2>Here you can see the results query:</h2>

<br/>

{% if results is not none %}
<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
    {% for column in columns%}
    <th scope="col">{{column}}</th>
    {%endfor%}
    </tr>
    </thead>

    <tbody>
    {%for result in results%}
    <tr>
        {%for element in result%}
            <td>{{element}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tbody>
</table>
{% else %}
    NONE
{% endif %}






{% endblock %}