{% extends 'base.html'%}

{% block content%}

<h2>Here you can write a query to be implemented in the database:</h2>
<br/>
<form method="POST">

    {{form.hidden_tag()}}

    {{form.query_by_user.label(class="form-label")}}
    {{form.query_by_user(class="form-control")}}
    <br/>
    {{form.submit(class="btn btn-secondary")}}

</form>

<h2>Here you can see the results query:</h2>

<br/>

{% if results is not none %}   
    {%for result in results%}
        {{result}}<br/>
    {%endfor%}
{% else %}
    NONE
{% endif %}






{% endblock %}